Django==1.10.4
django-bootstrap3==7.1.0
django-jquery==3.1.0
oauthlib==2.0.0
psycopg2==2.6.2
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
South==1.0.2
