<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server List</title>
</head>
<body>
<h1>Servers</h1>
<ul>
    <li><a href="/servers/">View</a></li>
    <li><a href="/servers/new">new</a></li>
    <li><a href="/servers/edit/">Edit</a></li>
    <li><a href="/servers/delete/">Delete</a></li>

</ul>
<ul>
    {% for server in object_list %}
    <li>{{ server.name }}  :
    <a href="{% url "server_edit" server.id %}">{{ server.ip }}</a>
    <a href="{% url "server_delete" server.id %}">delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "server_new" %}">New</a>
</body>
</html>