{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title> Home Page</title>{% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <h1 class="page-header">Idea Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">New Users</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">New Ideas</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Interactions</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Processed Ideas</span>
            </div>
          </div>

          <h2 class="sub-header">Idea Box</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Idea #</th>
                  <th>Date</th>
                  <th>Author</th>
                  <th>Description</th>
                </tr>
              </thead>

              {% for idea in ideas %}

              <tbody>
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{  idea.date }}</td>
                  <td><a href="https://www.facebook.com/{{  idea.id }}" target="_blank">{{  idea.author }}</a></td>
                  <td>{{  idea.description }}</td>
                </tr>
              </tbody>
              {% endfor %}

            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}